input[type="text"], textarea.form-control {
  border: 1px solid #DFDFDF;
  line-height: 30px;
  font-size: 15px;
  border-radius: 0px;
  box-shadow: none!important;
  outline: none!important;
  &:focus {
    border-color: @baseColor;
  }
}
textarea.form-control{
	line-height: 20px;
	padding-top:10px;
	padding-bottom:10px;
}
.btn {
  border: none;
  border-radius: 0px;
  outline:none!important;
  box-shadow:none!important;
  text-transform: uppercase;
  &.btn-primary {
    color: #fff;
    background-color: @baseColor;
  }
}
