@baseColor: #630460;

@fastTime: 0.2s;
@stdTime: 0.4s;

@grayColor: #999;

@import url('controls.less');
@import url('common.less');

@import url('views/stats.less');
@import url('views/index.less');

@import url('directives/autocompleteArea.less');
@import url('directives/customSelect.less');